.slick-next, .slick-prev  {
    border: 1px solid #ffffff !important;
    border-radius: var(--wp--custom--border-radius--rounded);
    padding: 0 !important;
    width: 56px !important;
    height: 56px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    background-color: var(--wp--preset--color--foreground) !important;
}

.slick-next {
    top: auto !important;
    right: .5rem !important;
    bottom: 0;

    &:before{
        content: url('./assets/icons/arrow-right.png') !important;
    }
}

.slick-prev {
    top: auto !important;
    right: calc(56px + 1rem) !important;
    bottom: 0;
    left: auto !important;
    z-index: 9;
    
    &:before{
        content: url('./assets/icons/arrow-left.png') !important;
    }
}