.wp-block-post-title a {
	text-decoration: none;
	color: var(--wp--preset--color--secondary);
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--headings);
}

.has-display-font-size {
    font-weight: 200;
}